@import  "http://fonts.googleapis.com/css?family=Oxygen+Mono";



nav {
  margin: 5em 0;
  text-align: center;
    
}

/*
   More info on block, inline-block, inline
   https://www.w3schools.com/css/css_inline-block.asp
   */
header ul li {
    display: inline;
    padding: 0 1.4em 0 0;
    font-size: 0.9em;
}

header ul li a {
    text-decoration: none;
    color: #7D7C7D;
}

li a.active {
    color: #000000;
    border-bottom: 2px solid #000000;
    font-weight: 300;
}

li a:hover {
    color: #B6B6B6;
}
