body {
    background-color: black;
    color: gray;
    text-align: center;
}

header, main, nav, footer {
    text-align: center;
}

nav a {
    padding:15px;
    padding-bottom: 4px;
    font-size:1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}

#me {
    float: left;
}

#welcomeText {
    text-align: left;
    width: 960px;
    margin: 0 auto;}


footer {
    clear: left;
}

#footerText {
    color: red;
    font-size: 10px;
}

#home {
    text-decoration: blink;
    color: yellow;
}

table {
    margin: 0 auto;
    text-align: center;
    color: white;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}

.hobby {
    color: yellow;
}

#content {
    text-align: left;
    margin: 0 auto;
    width: 600px;
}